<h1>ToDo</h1>
<section class="add">
  <form id="js-form">
    <input id="js-form-input" class="add_textArea" type="text" placeholder="ToDo" />
    <button class="add_button">追加</button>
  </form>
  <div id="js-todo-list" class="list"></div>
  <div class="count">
    <span id="js-todo-count">ToDoアイテム数:</span>
  </div>
</section>
